@media print {
  body * {
    visibility: hidden !important;
  }

  .recipe-detail-card-container,
  .recipe-detail-card-container * {
    visibility: visible !important;
  }

  .recipe-detail-card-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  /* Optional: Remove buttons during print */
  .recipe-detail-actions {
    display: none !important;
  }
}

.recipe-detail-card-container {
  width: 700px;
  margin-left: 0;
  padding: 2rem;
  background-color: #fefaf3;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-family: Raleway;
  color: #333;
  padding-left: 3rem;
}

.recipe-detail-card-container strong {
  font-weight: 800;
}

.recipe-detail-card {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
}

.recipe-detail-image-column {
  flex: 2;
  width: 100%;
  height: 100%;
  /* text-align: center; */
}

.recipe-detail-image {
  width: 100%;
  max-width: 160px;
  border-radius: 12px;
  margin-bottom: 0.5rem;
}

.recipe-detail-rating {
  font-size: 0.9rem;
  color: #444;
}

.recipe-detail-info-column {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-detail-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 40px;
}

.recipe-detail-meta {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 10px;
}

.recipe-detail-meta p {
  margin-bottom: 5px;
  font-size: 17px;
  font-weight: 500;
}

.recipe-detail-meta strong {
  font-weight: 700;
}

.recipe-detail-actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.print-btn,
.save-btn,
.edit-recipe-btn {
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.9rem;
}

.print-btn {
  background-color: #eee;
}

.save-btn {
  background-color: #f8bfc6;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  transition: background-color 0.5s ease;
}

.edit-recipe-btn {
  background-color: #eee;
}

.save-btn.saved {
  background-color: #1e1e1e;
  /* neutral grey */
  cursor: pointer;
  color: #fff;
}

.recipe-detail-body {
  margin-top: 1rem;
  margin-bottom: 20px;
}

.recipe-detail-body h2 {
  font-size: 32px;
}

.ingredient-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 48px;
}

.instruction-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
}

.instruction-list li {
  margin-bottom: 0.5rem;
  text-indent: 0;
}

.recipe-detail-meta {
  line-height: 1.6;
}

.favourites-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-icon {
  font-size: 1.2rem;
  cursor: pointer;
  color: #333;
  transition: color 0.2s ease;
}

.edit-icon.active {
  color: #fff;
}

.remove-recipe-btn {
  position: absolute;
  top: 16px;
  right: 18px;
  background: #fff;
  border: none;
  color: black;
  font-size: 1rem;
  /* adjust if needed */
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.2s ease;
  z-index: 999;
}

.remove-recipe-btn:hover {
  background: #1e1e1e;
  color: white;
}


.recipe-card-wrapper {
  position: relative;
}

.card-disabled-link a,
.card-disabled-link {
  pointer-events: none;
  cursor: default;
}

.recipe-card-wrapper.hover-always .recipe-card {
  transform: translate(-4px, -7px);
  box-shadow: 4px 7px 0px 0px #FCF8ED;
  z-index: 10;
  overflow: visible;
}